<div class="door-prize">
<h1>Select a winner for the door prize!</h1>
  <div id="prize-draw">
    <form id="prize-draw-form" method="POST" action="/door-prize">
      <div class="question">
        <p class="input">
          <fieldset>
            <label for="date_of_event">Enter the date of the event (dd-mm-yyy)</label>
            <input id="date-of-event" name="date_of_event" class="field" ></input>
          </fieldset>
        </p>
      </div>

      <div class="submit">
        <input class="button" type="submit" value="Pick a winner!" /
      </div>
    </form>
  </div>
</div>
