<div class="talk-list">
<h1>Here are the talks you can reakt to...</h1>
<ul class="talks">
  <li>
    <a href="/talks/572073e3-5676-4f3f-bdfb-0912a2973737">
      <img alt="Pavel Badenski" src="http://placekitten.com/g/100/100" title="Pavel Badenski" width="100" />
      <span class="title">The Catcher in the code</span>
      <span class="author">by Pavel Badenski</span>
    </a>
  </li>
  <li>
    <a href="/talks/cf549313-bf03-4231-b17d-1be56ae13bb8">
      <img alt="David Morgantini" src="http://placekitten.com/g/100/100" title="David Morgantini" width="100" />
      <span class="title">Building micro services using Java, Gradle and Dropwizard</span>
      <span class="author">David Morgantini</span>
    </a>
  </li>
</ul>
</div>
