<div class="talk-list">
<h1>Here are the talks you can reakt to...</h1>
<ul class="talks">
  <li>
    <a href="/talk">
      <img alt="Pavel Badenski" src="http://placekitten.com/g/100/100" title="Pavel Badenski" width="100" />
      <span class="title">The Catcher in the code</span>
      <span class="author">by Pavel Badenski</span>
    </a>
  </li>
  <li>
    <a href="/talk">
      <img alt="Pavel Badenski" src="http://placekitten.com/g/100/100" title="Pavel Badenski" width="100" />
      <span class="title">The XD super dev</span>
      <span class="author">by Chris Cheshire</span>
    </a>
  </li>
</ul>
</div>
