<div class="talk">
  <div class="speaker">
    <img alt="Pavel Badenski" src="http://placekitten.com/g/100/100" title="Pavel Badenski" width="100" />
    <h1>The Catcher in the code</h1>
    <p class="author">by Pavel Badenski</p>
  </div>
  <h2 class="invert">Let's get your reaktion:</h2>
  <form action="/thanks" method="post">
    <input type="hidden" name="talk" value="talk-id" />
    <div class="question">
      <fieldset>
        <legend>Overall impression</legend>
        <p class="rating-question">
          <label class="nav" for="overall_impression_1">Low</label><label for="overall_impression_1"><input id="overall_impression_1" name="overall_impression" title="1" type="radio" value="01" /></label><label for="overall_impression_2"><input id="overall_impression_2" name="overall_impression" title="2" type="radio" value="02" /></label><label for="overall_impression_3"><input id="overall_impression_3" name="overall_impression" title="3" type="radio" value="03" /></label><label for="overall_impression_4"><input id="overall_impression_4" name="overall_impression" title="4" type="radio" value="04" /></label><label for="overall_impression_5"><input id="overall_impression_5" name="overall_impression" title="5" type="radio" value="05" /></label><label class="nav" for="overall_impression_5">High</label>
        </p>
      </fieldset>
    </div>
    <div class="question">
      <fieldset>
        <legend>Presentation style</legend>
        <p class="rating-question">
          <label class="nav" for="presentation_style_1">Low</label><label for="presentation_style_1"><input id="presentation_style_1" name="presentation_style" title="1" type="radio" value="01" /></label><label for="presentation_style_2"><input id="presentation_style_2" name="presentation_style" title="2" type="radio" value="02" /></label><label for="presentation_style_3"><input id="presentation_style_3" name="presentation_style" title="3" type="radio" value="03" /></label><label for="presentation_style_4"><input id="presentation_style_4" name="presentation_style" title="4" type="radio" value="04" /></label><label for="presentation_style_5"><input id="presentation_style_5" name="presentation_style" title="5" type="radio" value="05" /></label><label class="nav" for="presentation_style_5">High</label>
        </p>
      </fieldset>
    </div>
    <div class="question">
      <fieldset>
        <legend>Technical interest</legend>
        <p class="rating-question">
          <label class="nav" for="technical_interest_1">Low</label><label for="technical_interest_1"><input id="technical_interest_1" name="technical_interest" title="1" type="radio" value="01" /></label><label for="technical_interest_2"><input id="technical_interest_2" name="technical_interest" title="2" type="radio" value="02" /></label><label for="technical_interest_3"><input id="technical_interest_3" name="technical_interest" title="3" type="radio" value="03" /></label><label for="technical_interest_4"><input id="technical_interest_4" name="technical_interest" title="4" type="radio" value="04" /></label><label for="technical_interest_5"><input id="technical_interest_5" name="technical_interest" title="5" type="radio" value="05" /></label><label class="nav" for="technical_interest_5">High</label>
        </p>
      </fieldset>
    </div>
    <div class="question">
      <fieldset>
        <legend>Slideware quality</legend>
        <p class="rating-question">
          <label class="nav" for="slideware_quality_1">Low</label><label for="slideware_quality_1"><input id="slideware_quality_1" name="slideware_quality" title="1" type="radio" value="01" /></label><label for="slideware_quality_2"><input id="slideware_quality_2" name="slideware_quality" title="2" type="radio" value="02" /></label><label for="slideware_quality_3"><input id="slideware_quality_3" name="slideware_quality" title="3" type="radio" value="03" /></label><label for="slideware_quality_4"><input id="slideware_quality_4" name="slideware_quality" title="4" type="radio" value="04" /></label><label for="slideware_quality_5"><input id="slideware_quality_5" name="slideware_quality" title="5" type="radio" value="05" /></label><label class="nav" for="slideware_quality_5">High</label>
        </p>
      </fieldset>
    </div>
    <div class="question">
      <fieldset>
        <legend>Clarity of communication</legend>
        <p class="rating-question">
          <label class="nav" for="clarity_of_comms_1">Low</label><label for="clarity_of_comms_1"><input id="clarity_of_comms_1" name="clarity_of_comms" title="1" type="radio" value="01" /></label><label for="clarity_of_comms_2"><input id="clarity_of_comms_2" name="clarity_of_comms" title="2" type="radio" value="02" /></label><label for="clarity_of_comms_3"><input id="clarity_of_comms_3" name="clarity_of_comms" title="3" type="radio" value="03" /></label><label for="clarity_of_comms_4"><input id="clarity_of_comms_4" name="clarity_of_comms" title="4" type="radio" value="04" /></label><label for="clarity_of_comms_5"><input id="clarity_of_comms_5" name="clarity_of_comms" title="5" type="radio" value="05" /></label><label class="nav" for="clarity_of_comms_5">High</label>
        </p>
      </fieldset>
    </div>
    <div class="question">
      <fieldset>
        <legend>Constructive crit. </legend>
      </fieldset>
      <label for="comments"> Enter any comments</label><textarea class="field comments" id="comments" name="comments"></textarea>
    </div>
    <div class="question">
      <fieldset>
        <legend>Prize draw</legend>
        <p class="input">
          <label for="reviewer_email">Email address</label><input class="field" id="reviewer_email" name="reviewer_email" type="email" />
        </p>
        <em>Although we ask for your email, it's only used for the door prize, the feedback will be anonymous, promise!</em>
      </fieldset>
    </div>
    
    <div class="submit">
      <input class="button" type="submit" value="Save my reaktion" />
    </div>
  </form>
</div>
