/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
*/
/* line 17, ../../../../../.rvm/gems/ruby-1.9.2-p318@reak/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1,
.h1, h2, legend, h3, .list-view .talks li a p, .talk-view .speaker p.author, .talk-view form legend, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-1.9.2-p318@reak/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-1.9.2-p318@reak/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.2-p318@reak/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-1.9.2-p318@reak/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-1.9.2-p318@reak/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-1.9.2-p318@reak/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-1.9.2-p318@reak/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-1.9.2-p318@reak/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 1, ../../views/stylesheets/_global.scss */
.hide {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  line-height: 0;
}

/* line 8, ../../views/stylesheets/_global.scss */
::selection {
  background-color: #d5e14d;
}

/* line 11, ../../views/stylesheets/_global.scss */
::-moz-selection {
  background-color: #d5e14d;
}

/* ============================================================
    Sections
============================================================ */
/* line 19, ../../views/stylesheets/_global.scss */
.clearfix, .talk-view .speaker, .talk-view form .question p {
  overflow: hidden;
  *zoom: 1;
}

/* line 23, ../../views/stylesheets/_global.scss */
html {
  font-size: 100%;
}

/* line 28, ../../views/stylesheets/_global.scss */
body, body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 33, ../../views/stylesheets/_global.scss */
body {
  margin: 0 auto;
  padding: 0;
  color: #333333;
  font: 16px/1.5em "Helvetica Neue", sans-serif;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  background: white;
}

/* line 49, ../../views/stylesheets/_global.scss */
nav ul {
  list-style: none;
}

/* line 58, ../../views/stylesheets/_global.scss */
h1, .h1 {
  margin: 0 0 0.22222em 0;
  color: #333333;
  font: 500 3.375em/54px Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
  letter-spacing: -0.05em;
}

/* line 64, ../../views/stylesheets/_global.scss */
h2, legend {
  margin: 0 0 0.44444em 0;
  padding: 11px 0 0 0;
  color: #333333;
  font: 300 2.25em/36px Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
  letter-spacing: -0.02188em;
}

/* line 71, ../../views/stylesheets/_global.scss */
h3, .list-view .talks li a p, .talk-view .speaker p.author, .talk-view form legend {
  margin: 0 0 1.25em 0;
  color: #333333;
  font: 300 1.5em/24px Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
  letter-spacing: 0.02188em;
}

/* line 77, ../../views/stylesheets/_global.scss */
h4, h5, h6 {
  margin: 4px 0 0.9em 0;
  color: #666666;
  font: 300 1.125em/18px Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
}

/* ============================================================
    Grouping content
============================================================ */
/* line 87, ../../views/stylesheets/_global.scss */
p, pre, ol, ul, dl, figure, figcaption, table, fieldset {
  margin: 0 0 0.9em 0;
}

/* line 91, ../../views/stylesheets/_global.scss */
pre {
  white-space: pre-line;
}

/* line 95, ../../views/stylesheets/_global.scss */
hr {
  clear: both;
  display: block;
  height: 0;
  padding: 0;
  font: 600 1.875em/1em "Akagi SemiBold", "Helvetica Neue", Arial, sans-serif;
  text-align: center;
  margin: 0 0 1em 0;
  border: 0;
}

/* line 106, ../../views/stylesheets/_global.scss */
hr::after {
  content: "...";
  height: 0;
  padding-left: 1em;
  color: #bbb;
  letter-spacing: 1em;
}

/* line 114, ../../views/stylesheets/_global.scss */
blockquote {
  color: #333333;
  border-left: 0.25em solid #cccccc;
  margin: 1.0625em 0 1.5625em 0;
  padding: 0 1.5625em 0 1.334em;
}
/* line 120, ../../views/stylesheets/_global.scss */
blockquote p {
  line-height: 1.6;
  margin: 0.5625em 0;
}

/* line 125, ../../views/stylesheets/_global.scss */
blockquote, q {
  quotes: none;
}
/* line 127, ../../views/stylesheets/_global.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 133, ../../views/stylesheets/_global.scss */
ul {
  list-style-type: inherit;
}
/* line 135, ../../views/stylesheets/_global.scss */
ul ul, ul ol {
  margin-top: 0;
}

/* line 139, ../../views/stylesheets/_global.scss */
ol {
  list-style-type: decimal;
}

/* line 142, ../../views/stylesheets/_global.scss */
li, dd {
  margin-left: 1.8125em;
}

/* line 145, ../../views/stylesheets/_global.scss */
li li {
  margin-top: 0;
}

/* line 148, ../../views/stylesheets/_global.scss */
dt {
  font-family: 'Proxima Nova Bold',sans-serif;
  font-weight: bold;
}

/* line 153, ../../views/stylesheets/_global.scss */
figcaption, caption {
  margin: 0.9em 0;
  line-height: 1em;
  color: #b3b3b3;
  font-size: 0.875em;
  font-family: 'Proxima Nova Regular',sans-serif;
  text-align: left;
  caption-side: bottom;
}

/* line 164, ../../views/stylesheets/_global.scss */
figure img {
  width: 100%;
}

/* line 169, ../../views/stylesheets/_global.scss */
.example {
  outline: 1px solid #EEE;
  margin: 0 0 0.9em 0;
  padding: 0.5em 1em 0.75em 1em;
}

/* ============================================================
    Text-level semantics
============================================================ */
/* line 179, ../../views/stylesheets/_global.scss */
a {
  color: #333333;
  font-size: 100%;
  font-family: arial ,sans-serif;
  text-decoration: none;
}
/* line 185, ../../views/stylesheets/_global.scss */
a:hover, a:focus {
  color: #1a1a1a;
}

/* line 191, ../../views/stylesheets/_global.scss */
em, em a, i, var, samp, cite, cite a {
  font: italic 300 1em/90% "Helvetica Neue", sans-serif;
}

/* line 194, ../../views/stylesheets/_global.scss */
strong, b {
  font-weight: 600;
}

/* line 198, ../../views/stylesheets/_global.scss */
:lang(en-gb) > q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 202, ../../views/stylesheets/_global.scss */
q::before {
  content: open-quote;
}
/* line 205, ../../views/stylesheets/_global.scss */
q::after {
  content: close-quote;
}

/* line 210, ../../views/stylesheets/_global.scss */
small {
  font-size: 0.875em;
  /* 14px */
  line-height: 1em;
  /* em(16px) */
}

/* line 214, ../../views/stylesheets/_global.scss */
dfn[title], abbr[title]:hover {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
  cursor: help;
}

/* line 218, ../../views/stylesheets/_global.scss */
abbr {
  letter-spacing: 1px;
}

/* line 224, ../../views/stylesheets/_global.scss */
time {
  color: #b3b3b3;
  font-family: arial,sans-serif;
  font-size: 0.75em;
  line-height: 1em;
  text-transform: uppercase;
}

/* line 231, ../../views/stylesheets/_global.scss */
code, samp {
  font: 1em/90% Monaco, Menlo, "Courier New", Courier, monospace;
}

/* line 234, ../../views/stylesheets/_global.scss */
code {
  color: #333333;
}

/* line 237, ../../views/stylesheets/_global.scss */
.code {
  margin: 0 0 1em 2.5em;
  font: 1em/1.7143 Monaco, Menlo, "Courier New", Courier, monospace;
  color: #999;
}
/* line 241, ../../views/stylesheets/_global.scss */
.code li {
  list-style: decimal-leading-zero;
  background: #F0F0F0;
  margin: 0 0 -1px 0;
  border-top: 1px solid white;
  padding: 0 0.5em;
}
/* line 248, ../../views/stylesheets/_global.scss */
.code .tab1 {
  padding-left: 4ex;
}

/* line 252, ../../views/stylesheets/_global.scss */
kbd {
  margin: 0 0.4px 0;
  padding: 0.3125em 0.375em;
  background-color: #cccccc;
  color: black;
  font: normal 0.875em/90% sans-serif;
  border: 1px solid #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

/* line 262, ../../views/stylesheets/_global.scss */
sub {
  font-size: smaller;
  line-height: 90%;
  vertical-align: sub;
}

/* line 267, ../../views/stylesheets/_global.scss */
sup {
  font-size: smaller;
  line-height: 90%;
  vertical-align: super;
}

/* ============================================================
    Edits
============================================================ */
/* line 276, ../../views/stylesheets/_global.scss */
mark, ins {
  color: #333333;
  background-color: #666666;
  text-decoration: none;
}

/* line 281, ../../views/stylesheets/_global.scss */
del {
  text-decoration: line-through;
}

/* ============================================================
    Tabular data
============================================================ */
/* line 289, ../../views/stylesheets/_global.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 293, ../../views/stylesheets/_global.scss */
td, th {
  padding: 0.5em 1.5625em 0.5em 0;
  border-bottom: 1px solid white;
  text-align: left;
}

/* line 298, ../../views/stylesheets/_global.scss */
th {
  padding: 0.5em 0 0.4375em 0;
  border-bottom-color: white;
  color: #333333;
  font: 500 1.0625em/1em Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
  vertical-align: bottom;
}

/* line 305, ../../views/stylesheets/_global.scss */
td {
  vertical-align: top;
}

/* ============================================================
    Forms
============================================================ */
/* line 314, ../../views/stylesheets/_global.scss */
legend {
  padding-bottom: 0.5em;
}

/* line 318, ../../views/stylesheets/_global.scss */
.field {
  width: 100%;
  padding: 0.375em 0.5em;
  background-color: white;
  border: 1px solid #cccccc;
  box-shadow: inset 0 0.05em 0.65em rgba(0, 0, 0, 0.055);
  font: 1em/1.5em sans-serif;
}
@media screen and (min-width: 481px) {
  /* line 318, ../../views/stylesheets/_global.scss */
  .field {
    width: 50%;
  }
  /* line 322, ../../views/stylesheets/_global.scss */
  .field.small {
    width: 5em;
  }
  /* line 325, ../../views/stylesheets/_global.scss */
  .field.medium {
    width: 15em;
  }
  /* line 328, ../../views/stylesheets/_global.scss */
  .field.large {
    width: 20em;
  }
}

/* line 338, ../../views/stylesheets/_global.scss */
label {
  display: block;
  margin: 0.25em 0;
  font-weight: 400;
  line-height: 1.5;
}
/* line 347, ../../views/stylesheets/_global.scss */
label.check {
  font-weight: normal;
  float: none;
}

/* line 352, ../../views/stylesheets/_global.scss */
input[type="radio"], input[type="checkbox"] {
  margin-right: 0.5em;
}

/* line 356, ../../views/stylesheets/_global.scss */
fieldset div {
  margin: 0.9em 0;
}
/* line 359, ../../views/stylesheets/_global.scss */
fieldset abbr[title="Required"] {
  color: #900;
  font: normal 1.25em/0.1 sans-serif;
  border-bottom: 0 none;
}
/* line 364, ../../views/stylesheets/_global.scss */
fieldset em {
  display: block;
  margin: 0.25em 0;
  color: #737373;
  font-family: sans-serif;
  font-style: normal;
  font-size: 0.875em;
  line-height: 1.25em;
}
/* line 376, ../../views/stylesheets/_global.scss */
fieldset.options {
  clear: left;
}
/* line 378, ../../views/stylesheets/_global.scss */
fieldset.options ul {
  margin: 0.25em 0;
  list-style: none;
}
@media screen and (min-width: 998px) {
  /* line 378, ../../views/stylesheets/_global.scss */
  fieldset.options ul {
    margin-left: 20%;
  }
}
/* line 384, ../../views/stylesheets/_global.scss */
fieldset.options ul li {
  margin-left: 0;
}
/* line 387, ../../views/stylesheets/_global.scss */
fieldset.options ul label {
  float: none;
  width: auto;
  font-weight: normal;
}

/* line 395, ../../views/stylesheets/_global.scss */
.submit {
  overflow: visible;
  padding: 0.9em 0 0 0;
}

/* line 400, ../../views/stylesheets/_global.scss */
#container {
  margin: 0 auto;
}

/* ============================================================
    Buttons
============================================================ */
/* line 408, ../../views/stylesheets/_global.scss */
button, input[type='submit'], input[type='button'], .button, a {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

/* line 411, ../../views/stylesheets/_global.scss */
button, input[type='submit'], input[type='button'], .button {
  -webkit-appearance: none;
  display: inline-block;
  padding: 0.65em 0.8em;
  border: 0;
  background: #333333;
  font: 1.25em "Helvetica Neue", sans-serif;
  color: #fff;
  cursor: pointer;
  border-radius: 4px 50px 50px 4px;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
}
/* line 422, ../../views/stylesheets/_global.scss */
button:hover, input[type='submit']:hover, input[type='button']:hover, .button:hover {
  background: #4d4d4d;
  color: #fff;
}
/* line 426, ../../views/stylesheets/_global.scss */
button:active, input[type='submit']:active, input[type='button']:active, .button:active {
  background: #1a1a1a;
  box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.25), inset 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
}

@media screen and (max-width: 480px) {
  /* line 1, ../../views/stylesheets/_project.scss */
  body {
    padding-left: 1em;
    padding-right: 1em;
  }
}
@media screen and (min-width: 480px) {
  /* line 1, ../../views/stylesheets/_project.scss */
  body {
    padding-left: 2em;
    padding-right: 2em;
  }
}

/* line 12, ../../views/stylesheets/_project.scss */
.container {
  position: relative;
  padding: 0 0 2em 0;
}
@media screen and (min-width: 960px) {
  /* line 12, ../../views/stylesheets/_project.scss */
  .container {
    margin: 0 auto;
    max-width: 60em;
  }
}

/* line 21, ../../views/stylesheets/_project.scss */
header {
  margin: 0.625em 0 2em 0;
  padding: 0.5em 0;
  border-bottom: 0.1875em solid #333333;
}
/* line 25, ../../views/stylesheets/_project.scss */
header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 30, ../../views/stylesheets/_project.scss */
header li {
  margin: 0;
  padding: 0;
}

/* line 41, ../../views/stylesheets/_project.scss */
.list-view .talks {
  margin: 0 0 1em 0;
  padding: 0.125em 0 0 0;
  list-style: none;
}
/* line 45, ../../views/stylesheets/_project.scss */
.list-view .talks li {
  font-size: 100%;
  margin: 0 0 1em 0;
}
/* line 48, ../../views/stylesheets/_project.scss */
.list-view .talks li a {
  display: block;
  position: relative;
  min-height: 5.75em;
  font-size: 100%;
  padding: 0 0 0 5.625em;
  line-height: auto;
}
@media screen and (min-width: 481px) {
  /* line 48, ../../views/stylesheets/_project.scss */
  .list-view .talks li a {
    min-height: 7.375em;
    padding: 0 0 0 8.25em;
  }
}
/* line 60, ../../views/stylesheets/_project.scss */
.list-view .talks li a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 74px;
  padding: 0.3125em;
  border: 0.25em solid #333333;
}
@media screen and (min-width: 481px) {
  /* line 60, ../../views/stylesheets/_project.scss */
  .list-view .talks li a img {
    width: auto;
  }
}
/* line 72, ../../views/stylesheets/_project.scss */
.list-view .talks li a h2, .list-view .talks li a legend {
  margin: 0 0 0.11111em;
  padding-top: 0.125em;
  font-size: 36px;
  line-height: 1.02041em;
  letter-spacing: -0.035em;
}
/* line 80, ../../views/stylesheets/_project.scss */
.list-view .talks li a p {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}
/* line 86, ../../views/stylesheets/_project.scss */
.list-view .talks li a:hover {
  background: #d6d6d6;
}

/* line 95, ../../views/stylesheets/_project.scss */
.talk-view .h1 {
  margin: 0 0 0.5em 0;
  color: #333333;
  font: 300 1.5em/1.0625em Cambria, Georgia, "New Century Schoolbook", "Century Schoolbook L", "Times New Roman", serif;
}
/* line 100, ../../views/stylesheets/_project.scss */
.talk-view .speaker {
  overflow: visible;
  position: relative;
  padding: 0 0 1.5em 0;
}
@media screen and (min-width: 481px) {
  /* line 100, ../../views/stylesheets/_project.scss */
  .talk-view .speaker {
    padding: 0 0 2em 7.25em;
  }
}
/* line 109, ../../views/stylesheets/_project.scss */
.talk-view .speaker h1, .talk-view .speaker .h1 {
  font-size: 3.125em;
  line-height: 1em;
  margin: 0 0 0.125em 0;
  padding: 0;
}
@media screen and (min-width: 481px) {
  /* line 109, ../../views/stylesheets/_project.scss */
  .talk-view .speaker h1, .talk-view .speaker .h1 {
    font-size: 3.75em;
    line-height: 0.93333em;
  }
}
/* line 119, ../../views/stylesheets/_project.scss */
.talk-view .speaker p.author {
  margin: 0;
}
/* line 123, ../../views/stylesheets/_project.scss */
.talk-view .speaker img {
  top: 0;
  float: right;
  width: 100px;
  height: 100px;
  margin: 0 0 1em 1em;
  padding: 0.3125em;
  border: 0.25em solid #333333;
}
@media screen and (min-width: 481px) {
  /* line 123, ../../views/stylesheets/_project.scss */
  .talk-view .speaker img {
    float: none;
    position: absolute;
    left: 0;
    right: auto;
    width: 100px;
    margin: 0 1em 1em 0;
  }
}
/* line 142, ../../views/stylesheets/_project.scss */
.talk-view .talk h2.invert, .talk-view .talk legend.invert {
  background: #333333;
  color: #fff;
  font-size: 20px;
  padding: 0.3125em 0.75em;
}
/* line 150, ../../views/stylesheets/_project.scss */
.talk-view form .question {
  border-bottom: 1px solid #e6e6e6;
  padding: 0.625em 0;
  margin: 0 0 0.5em 0;
}
/* line 154, ../../views/stylesheets/_project.scss */
.talk-view form .question fieldset {
  margin: 0;
}
/* line 157, ../../views/stylesheets/_project.scss */
.talk-view form .question p {
  overflow: visible;
  margin: 0;
}
/* line 161, ../../views/stylesheets/_project.scss */
.talk-view form .question p span {
  padding-right: 0.875em;
}
/* line 164, ../../views/stylesheets/_project.scss */
.talk-view form .question p label {
  padding: 0 0.3125em 0 0;
  margin-right: 0.3125em;
}
/* line 167, ../../views/stylesheets/_project.scss */
.talk-view form .question p label input[type=radio], .talk-view form .question p label {
  cursor: pointer;
}
/* line 172, ../../views/stylesheets/_project.scss */
.talk-view form .question p.rating-question label {
  float: left;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}
/* line 179, ../../views/stylesheets/_project.scss */
.talk-view form .question .comments {
  height: 6.25em;
}
/* line 183, ../../views/stylesheets/_project.scss */
.talk-view form legend {
  margin: 0 0 0.16667em 0;
}
/* line 186, ../../views/stylesheets/_project.scss */
.talk-view form legend.hide {
  line-height: 0;
  margin: 0;
  padding: 0;
}